@page "/empresas/indice"
@using Packing.Mudblazor.Shared
@attribute [Authorize(Roles = "Admin")]
@attribute [Authorize(Roles = "Developer")]
@inject NavigationManager navigationManager
@inject HttpClient client


<h3 class="m-3"><i class="fas fa-list-ol"></i>&nbsp; Indice Empresas</h3>
<MudDivider />
<div class="container-fluid">
    <div class="row mt-2">
        <div class="col-12">
            @if (empresasEnSistema is null)
            {
                <div class="col">
                    <div class="row">
                        <div class="col d-flex justify-content-center">
                            <p>Cargando, espere por favor ...</p>
                        </div>
                    </div>
                </div>
                <MudSkeleton />
                <MudSkeleton Animation="Animation.False" />
                <MudSkeleton Animation="Animation.Wave" />
                <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="m-7" />
            }
            else if (!empresasEnSistema.Any())
            {
                <div class="h4 text-center m-4"> No existen empresas creadas.</div>
            }
            else
            {
                <MudTable Items="@empresasEnSistema" RowsPerPage="10" Elevation="2" Filter="new Func<Empresa,bool>(FilterFunc)"
                          @bind-SelectedItem="selectedEmpresa" SortLabel="Ordenar Por"
                          Breakpoint="Breakpoint.Sm" Dense="false" Hover="true" Striped="true" Bordered="true">
                    <ToolBarContent>
                        <MudText Typo="Typo.h6">Empresas en el sistema</MudText>
                        <MudToolBarSpacer />
                        <MudTextField @bind-Value="searchString" Placeholder="Buscar" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
                    </ToolBarContent>
                    <HeaderContent>
                        <MudTh>Id</MudTh>
                        <MudTh>Razón social</MudTh>
                        <MudTh>R.U.T.</MudTh>
                        <MudTh>Contacto</MudTh>
                        <MudTh>Telefono</MudTh>
                    </HeaderContent>
                    <RowTemplate>
                        <MudTd DataLabel="Id">@context.IdEmpresa</MudTd>
                        <MudTd DataLabel="RazonSocial">@context.RazonSocial</MudTd>
                        <MudTd DataLabel="RutEmpresa">@context.RutEmpresa</MudTd>
                        <MudTd DataLabel="Contacto">@context.PersonaContacto</MudTd>
                        <MudTd DataLabel="Telefono">@context.TelefonoContacto</MudTd>
                    </RowTemplate>
                    <PagerContent>
                        <MudTablePager RowsPerPageString="Empresas por página" />
                    </PagerContent>
                </MudTable>
            }
        </div>
    </div>
    <MudDivider />
    <div class="row mb-3">
        <div class="col-md-4 mt-2 d-flex justify-content-center">
            <MudFab Color="Color.Success" Icon="@Icons.Material.Filled.Add" Size="Size.Small" OnClick="@CrearNuevaEmpresa" Label="Agregar" />
        </div>
        <div class="col-md-4 mt-2 d-flex justify-content-center">
            <MudFab Color="Color.Secondary" Icon="@Icons.Material.Filled.Edit" Size="Size.Small" OnClick="@InsertarValorPrueba" Label="Editar"/>
        </div>
        <div class="col-md-4 mt-2 d-flex justify-content-center">
            <MudFab Icon="@Icons.Material.Filled.Navigation" Label="Volver atrás" Size="Size.Small" OnClick="@VolverAtras" />
        </div>
    </div>
</div>

@code {
    protected Empresa selectedEmpresa = null;
    private List<Empresa> empresasEnSistema;
    private string searchString = "";

    private bool FilterFunc(Empresa empresa)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (empresa.RazonSocial.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        return empresa.RutEmpresa.Contains(searchString, StringComparison.OrdinalIgnoreCase) || $"{empresa.PersonaContacto} {empresa.TelefonoContacto} {empresa.Giro}".Contains(searchString);
    }


    protected override async Task OnInitializedAsync()
    {
        try
        {
            empresasEnSistema = await client.GetFromJsonAsync<List<Empresa>>("/api/empresas");
        }
        catch (Exception exception)
        {
            Console.WriteLine(exception.Message);
        }
    }

    protected async void InsertarValorPrueba()
    {
        try
        {
            var nuevaEmpresa = new Empresa()
            {
                RutEmpresa = "10.688.009-3",
                RazonSocial = "Razon desde POST",
                TelefonoContacto = "+56911111",
                PersonaContacto = "Persona de prueba para probar",
                DireccionEmpresa = "Direccion de POST",
                Giro = "Giro de Post prueba para probar de prueba",
                Imagen = "null",
                Vigente = true
            };

            var result = await client.PostAsJsonAsync("api/empresas", nuevaEmpresa);
            if (result.IsSuccessStatusCode)
            {
                Console.WriteLine("Todo exitoso");
            }
            else
            {
                Console.WriteLine(await result.Content.ReadAsStringAsync());
            }
        }
        catch (Exception exception)
        {
            Console.WriteLine(exception.Message);
        }
    }

    protected void CrearNuevaEmpresa()
    {
        navigationManager.NavigateTo("/empresas/nuevo");
    }

    protected void VolverAtras()
    {
        navigationManager.NavigateTo("/");
    }

}
